@font-face {
  font-family: mathFont;
  src: url(../font/noto_sans_math_regular.ttf);
}

body {
  overflow: hidden;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}

span,
div,
svg {
  font-family: mathFont, sans-serif;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  text-underline-offset: 0.325ex;
  line-height: 0;
}

span::selection,
div::selection,
svg::selection {
  background: none;
}

.math-text-view {
  display: block;
  position: absolute;
  overflow: hidden;
  min-width: calc(100% - 3ex);
  line-height: 1;
  padding-left: 1.5ex;
  padding-right: 1.5ex;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

.text {
  line-height: 1;
  margin-top: 0.2ex;
  padding-top: 0.05ex;
  padding-bottom: 0.05ex;
}

.text:empty::before {
  content: attr(hint);
  padding-left: 0.001ex;
  padding-right: 0.001ex;
  opacity: 0.5;
}

.text-hint {
  line-height: 1;
  margin-top: 0.2ex;
  padding-top: 0.05ex;
  padding-bottom: 0.05ex;
}

.text-hint:empty::before {
  content: '\2B1A';
  opacity: 0.5;
}

.border {
  float: left;
}

.binary-operator,
.unary-prefix-operator,
.unary-postfix-operator {
  vertical-align: 0.58ex; /* TODO: remove when implementing a custom cursor */
}

.binary-operator {
  margin-left: 0.2ex;
  margin-right: 0.2ex;
}

.binary-operator::before,
.unary-prefix-operator::before,
.unary-postfix-operator::before {
  content: attr(before-content);
  opacity: 0.75;
  float: left; /* TODO: remove when implementing a custom cursor */
}

.function-name {
  vertical-align: 0.58ex; /* TODO: remove when implementing a custom cursor */
  margin-left: 0.1ex;
  margin-right: -0.2ex;
}

.function-name::before {
  content: attr(before-content);
  opacity: 0.75;
  float: left; /* TODO: remove when implementing a custom cursor */
}

.sup-parent,
.sub-parent,
.log-index {
  font-size: 70%;
}

.sup-parent {
  vertical-align: 1.5ex;
}

.sub-parent,
.log-index {
  vertical-align: -1.5ex;
}

.sup {
  vertical-align: text-bottom;
}

.sub {
  vertical-align: text-top;
}

.sup-parent,
.sub-parent {
  margin-left: 0.1ex;
  margin-right: 0.3ex;
}

.log-index {
  margin-left: 0.3ex;
  margin-right: -0.2ex;
}

.fraction,
.derivative-fraction {
  text-align: center;
  vertical-align: 1.015ex;
  margin-left: 0.7ex;
  margin-right: 0.7ex;
}

.numerator,
.derivative-numerator {
  display: block;
  overflow: hidden;
}

.denominator,
.derivative-denominator {
  float: left;
  width: 100%;
}

.denominator::before,
.derivative-denominator::before {
  content: '';
  border-top: 0.16ex solid;
  display: block;
  margin-top: 0.3ex;
  margin-bottom: 0.3ex;
  margin-left: -0.3ex;
  margin-right: -0.3ex;
  opacity: 0.75;
}

.fraction {
  margin-left: 0.7ex;
  margin-right: 0.7ex;
}

.derivative-fraction {
  margin-left: 0.7ex;
  margin-right: 0.3ex;
}

.derivative-base {
  margin-left: 0.2ex;
}

.open-bracket,
.close-bracket {
  width: 0.7ex;
}

.open-bracket {
  margin-left: 0.3ex;
}

.close-bracket {
  margin-right: 0.3ex;
}

.abs-prefix,
.abs-postfix,
.floor-vertical-prefix,
.floor-vertical-postfix,
.ceil-vertical-prefix,
.ceil-vertical-postfix,
.floor-horizontal-prefix,
.floor-horizontal-postfix,
.ceil-horizontal-prefix,
.ceil-horizontal-postfix {
  width: 0.57ex;
}

.floor-horizontal-prefix,
.floor-horizontal-postfix {
  vertical-align: bottom;
}

.ceil-horizontal-prefix,
.ceil-horizontal-postfix {
  vertical-align: top;
}

.abs-prefix,
.floor-prefix,
.ceil-prefix {
  margin-left: 0.15ex;
  padding-right: 0.15ex;
}

.abs-postfix,
.floor-postfix,
.ceil-postfix {
  margin-right: 0.15ex;
  padding-left: 0.15ex;
}

.floor-horizontal-prefix,
.ceil-horizontal-prefix {
  margin-left: -0.3ex;
}

.floor-horizontal-postfix,
.ceil-horizontal-postfix {
  margin-right: -0.3ex;
}

.sqrt {
  margin-right: 0.4ex;
}

.root {
  margin-right: 0.4ex;
  margin-left: 0.4ex;
}

.root-content {
  border-top: 0.16ex solid;
  border-left: 0.16ex solid;
  padding-top: 0.15ex;
  padding-bottom: 0.15ex;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
}

.root-prefix {
  width: 1ex;
  height: 1ex;
  vertical-align: bottom;
}

.root-index {
  font-size: 60%;
  margin-bottom: 1.8ex;
  margin-right: -1.2ex;
  vertical-align: bottom;
}

.pi-const,
.e-const,
.i-const,
.inf-const,
.complex-inf-const {
  margin-left: 0.2ex;
  margin-right: 0.2ex;
}

.pi-const {
  vertical-align: -0.01ex;
  width: 1.26ex;
}

.e-const {
  vertical-align: -0.02ex;
  width: 0.77ex;
}

.i-const {
  vertical-align: -0.01ex;
  width: 0.57ex;
}

.derivative-name {
  vertical-align: -0.03ex;
  width: 0.89ex;
}

.inf-const,
.complex-inf-const {
  vertical-align: -0.08ex;
  width: 1.4ex;
}
