@font-face {
  font-family: mathFont;
  src: url(../font/noto_sans_math_regular.ttf);
}

body {
  overflow: hidden;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}

span,
div,
svg {
  font-family: mathFont, sans-serif;
  display: inline-block;
  vertical-align: middle; /* TODO: remove */
  outline: none;
  white-space: nowrap;
  text-underline-offset: 0.235em;
  line-height: 0;
}

.math-text-view {
  display: block;
  position: absolute;
  overflow: hidden;
  min-width: calc(100% - 30px);
  line-height: 1;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.math-text-view:empty::before {
  content: attr(hint);
  opacity: 0.5;
}

.text {
  line-height: 1;
  margin-top: 2px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.text:empty::before {
  content: attr(empty-hint);
  padding-left: 0.01px;
  padding-right: 0.01px;
  opacity: 0.5;
}

.text-hint {
  line-height: 1;
  margin-top: 2px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.text-hint:empty::before {
  content: '\2B1A';
  opacity: 0.5;
}

.border {
  float: left;
}

.binary-operator,
.unary-prefix-operator,
.unary-postfix-operator {
  margin-top: 2px;
  opacity: 0.75;
}

.binary-operator {
  margin-left: 2px;
  margin-right: 2px;
}

.sup {
  font-size: 70%;
  vertical-align: super; /* TODO: remove */
  margin-right: 2px;
}

.sub {
  font-size: 70%;
  vertical-align: sub; /* TODO: remove */
  margin-right: 2px;
}

.fraction {
  text-align: center; /* TODO: remove */
  margin-left: 7px;
  margin-right: 7px;
}

.numerator {
  display: block;
}

.denominator {
  display: block;
}

.denominator::before {
  content: '';
  border-top: 0.08em solid;
  display: block;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  margin-left: -3px;
  margin-right: -3px;
  opacity: 0.75;
}

.function-name {
  margin-top: 2px;
  margin-left: 1px;
  margin-right: -2px;
}

.function-name::before {
  content: attr(before-content);
  opacity: 0.75;
  float: left;
}

.open-bracket,
.close-bracket {
  width: 0.4em;
  height: 1em;
}

.open-bracket {
  margin-left: 3px;
}

.close-bracket {
  margin-right: 3px;
}

.abs-prefix,
.abs-postfix {
  width: 0.4em;
  height: 1em;
}

.abs-prefix {
  margin-left: 1.5px;
}

.abs-postfix {
  margin-right: 1.5px;
}

.sqrt {
  margin-right: 4px;
}

.root {
  margin-right: 4px;
  margin-left: 4px;
}

.root-content {
  border-top: 0.08em solid;
  border-left: 0.08em solid;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 4px;
  padding-right: 4px;
}

.root-prefix {
  width: 0.6em;
  height: 0.6em;
  vertical-align: bottom;
}

.root-index {
  font-size: 60%;
  margin-bottom: 1.15em;
  margin-right: -0.75em;
  vertical-align: bottom;
}

.log {
  vertical-align: baseline; /* TODO: remove */
}

.log-index {
  font-size: 70%;
  vertical-align: sub; /* TODO: remove */
  margin-left: 2px;
  margin-right: -2px;
}

.open-bracket,
.close-bracket {
  width: 0.4em;
  height: 1em;
}

.open-bracket {
  margin-left: 3px;
}

.close-bracket {
  margin-right: 3px;
}

.infinite,
.complex-infinite {
  width: 0.7em;
  height: 0.7em;
  margin-left: 2px;
  margin-right: 2px;
}
