@font-face {
  font-family: mathFont;
  src: url(../font/noto_sans_math_regular.ttf);
}

body {
  overflow: hidden;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}

span,
div,
svg {
  font-family: mathFont, sans-serif;
  display: inline-block;
  vertical-align: middle; /* TODO: remove */
  outline: none;
  white-space: nowrap;
  text-underline-offset: 0.2em;
  line-height: 0;
}

.math-text-view {
  display: block;
  position: absolute;
  overflow: hidden;
  min-width: calc(100% - 1.5em);
  line-height: 1;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.math-text-view:empty::before {
  content: attr(hint);
  opacity: 0.5;
}

.text {
  line-height: 1;
  margin-top: 0.1em;
  padding-top: 0.025em;
  padding-bottom: 0.025em;
}

.text:empty::before {
  content: attr(hint);
  padding-left: 0.001em;
  padding-right: 0.001em;
  opacity: 0.5;
}

.text-hint {
  line-height: 1;
  margin-top: 0.1em;
  padding-top: 0.025em;
  padding-bottom: 0.025em;
}

.text-hint:empty::before {
  content: '\2B1A';
  opacity: 0.5;
}

.border {
  float: left;
}

.binary-operator,
.unary-prefix-operator,
.unary-postfix-operator {
  margin-top: 0.1em;
}

.binary-operator {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.binary-operator::before,
.unary-prefix-operator::before,
.unary-postfix-operator::before {
  content: attr(before-content);
  opacity: 0.75;
  float: left;
}

.function-name {
  margin-top: 0.1em;
  margin-left: 0.05em;
  margin-right: -0.1em;
}

.function-name::before {
  content: attr(before-content);
  opacity: 0.75;
  float: left;
}

.sup {
  font-size: 70%;
  vertical-align: super; /* TODO: remove */
  margin-left: 0.05em;
  margin-right: 0.1em;
}

.sub {
  font-size: 70%;
  vertical-align: sub; /* TODO: remove */
  margin-left: 0.05em;
  margin-right: 0.1em;
}

.fraction {
  text-align: center; /* TODO: remove */
  margin-left: 0.35em;
  margin-right: 0.35em;
}

.numerator {
  display: block;
}

.denominator {
  display: block;
}

.denominator::before {
  content: '';
  border-top: 0.08em solid;
  display: block;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  margin-left: -0.15em;
  margin-right: -0.15em;
  opacity: 0.75;
}

.open-bracket,
.close-bracket {
  width: 0.4em;
  height: 1em;
}

.open-bracket {
  margin-left: 0.15em;
}

.close-bracket {
  margin-right: 0.15em;
}

.abs-prefix,
.abs-postfix,
.floor-vertical-prefix,
.floor-vertical-postfix,
.ceil-vertical-prefix,
.ceil-vertical-postfix {
  width: 0.3em;
}

.floor-horizontal-prefix,
.floor-horizontal-postfix,
.ceil-horizontal-prefix,
.ceil-horizontal-postfix {
  width: 0.25em;
}

.abs-prefix,
.floor-prefix,
.ceil-prefix {
  margin-left: 0.075em;
  padding-right: 0.075em;
}

.abs-postfix,
.floor-postfix,
.ceil-postfix {
  margin-right: 0.075em;
  padding-left: 0.075em;
}

.floor-horizontal-prefix,
.floor-horizontal-postfix {
  vertical-align: bottom;
}

.ceil-horizontal-prefix,
.ceil-horizontal-postfix {
  vertical-align: top;
}

.floor-horizontal-prefix,
.ceil-horizontal-prefix {
  margin-left: -0.15em;
}

.floor-horizontal-postfix,
.ceil-horizontal-postfix {
  margin-right: -0.15em;
}

.sqrt {
  margin-right: 0.2em;
}

.root {
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.root-content {
  border-top: 0.08em solid;
  border-left: 0.08em solid;
  padding-top: 0.075em;
  padding-bottom: 0.075em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.root-prefix {
  width: 0.6em;
  height: 0.6em;
  vertical-align: bottom;
}

.root-index {
  font-size: 60%;
  margin-bottom: 1.15em;
  margin-right: -0.75em;
  vertical-align: bottom;
}

.log {
  vertical-align: baseline; /* TODO: remove */
}

.log-index {
  font-size: 70%;
  vertical-align: sub; /* TODO: remove */
  margin-left: 0.1em;
  margin-right: -0.1em;
}

.open-bracket,
.close-bracket {
  width: 0.4em;
  height: 1em;
}

.open-bracket {
  margin-left: 0.15em;
}

.close-bracket {
  margin-right: 0.15em;
}

.infinite,
.complex-infinite {
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
