@font-face {
  font-family: mathFont;
  src: url(../font/noto_sans_math_regular.ttf);
}

body {
  overflow: hidden;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}

span,
div {
  font-family: mathFont, sans-serif;
  display: inline-block;
  vertical-align: middle; /* TODO: remove */
  outline: none;
  white-space: nowrap;
  text-underline-offset: 0.1em;
  line-height: 0;
}

.math-text-view {
  display: block;
  position: absolute;
  overflow: hidden;
  min-width: calc(100% - 30px);
  line-height: 1;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.math-text-view:empty::before {
  content: attr(hint);
  position: absolute;
  margin-top: calc(0.02em + 0.8px);
  opacity: 0.5;
}

.text {
  line-height: 1.1;
  margin-top: 2px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.text:empty::before {
  content: attr(empty-hint);
  padding-left: 0.01px;
  padding-right: 0.01px;
  opacity: 0.5;
}

.text-hint {
  line-height: 1.1;
  margin-top: 2px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.text-hint:empty::before {
  content: '\2B1A';
  opacity: 0.5;
}

.border {
  float: left;
}

.binary-operator {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  opacity: 0.75;
}

.unary-prefix-operator {
  margin-top: 2px;
  opacity: 0.75;
}

.unary-postfix-operator {
  margin-top: 2px;
  opacity: 0.75;
}

.sup {
  font-size: 60%;
  margin-bottom: 3ex; /* TODO: remove */
  margin-right: 2px;
}

.sub {
  font-size: 60%;
  margin-top: 3ex; /* TODO: remove */
  margin-right: 2px;
}

.fraction {
  text-align: center; /* TODO: remove */
  margin-left: 7px;
  margin-right: 7px;
}

.fraction-line {
  border-top: 0.08em solid;
  display: block;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  margin-left: -3px;
  margin-right: -3px;
  opacity: 0.75;
}

.function-name {
  margin-top: 2px;
  margin-left: 1px;
  margin-right: -2px;
}

.function-name::before {
  content: attr(before-content);
  opacity: 0.75;
}

.abs {
  border-left: 0.08em solid;
  border-right: 0.08em solid;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: calc(1em * 0.1);
  margin-bottom: calc(1em * 0.1);
}

.sqrt {
  margin-right: 4px;
}

.sqrt-content {
  border-top: 0.08em solid;
  border-left: 0.08em solid;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 4px;
  padding-right: 4px;
}

.sqrt-prefix {
  width: 0.6em;
  height: 0.6em;
  vertical-align: bottom;
}

.open-bracket,
.close-bracket {
  width: 0.4em;
  height: 1em;
  vertical-align: middle;
}

.open-bracket {
  margin-left: 3px;
}

.close-bracket {
  margin-right: 3px;
}
